@charset "utf-8";

html, html* {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1.4em;
    background-color: #333241;
}
nav li a {
    display: block;
    color: #000;
    text-decoration: none;
}
nav li a:hover {
    background-color: #56546e;
}
.active {
    background-color: #504aa8;
}